packer {
    required_plugins {
        proxmox = {
            version = ">= 1.0.6"
            source  = "github.com/hashicorp/proxmox"
        }
        ansible = {
            version = ">= 1.0.0"
            source = "github.com/hashicorp/ansible"
        }
    }
}

source "proxmox-iso" "debian" {
    proxmox_url = "{{ packer_proxmox_api_url }}"
    username = "{{ packer_proxmox_token_id }}"
    token = "{{ packer_proxmox_token_secret }}"
    insecure_skip_tls_verify = true
    
    node = "{{ packer_proxmox_node }}"
    vm_id = "{{ packer_proxmox_vm_id }}"
    vm_name = "{{ packer_proxmox_vm_name }}"
    template_description = "{{ packer_proxmox_vm_template_description }}"

    # (Option 1) Local ISO File
    iso_file = "{{ packer_proxmox_vm_iso_file }}"
    # (Option 2) Download ISO
    #iso_url = "http://releases.ubuntu.com/22.10/ubuntu-22.10-live-server-amd64.iso"
    #iso_checksum = "874452797430a94ca240c95d8503035aa145bd03ef7d84f9b23b78f3c5099aed"
    #iso_storage_pool = "local"
    unmount_iso = true

    cpu_type = "{{ packer_proxmox_vm_cpu_type }}"
    cores = "2"
    memory = "4096"
    qemu_agent = true
    scsi_controller = "virtio-scsi-single"
    disks {
        type = "{{ packer_proxmox_vm_disk_type }}"
        disk_size = "{{ packer_proxmox_vm_disk_size }}"
        format = "qcow2"
        storage_pool = "{{ packer_proxmox_vm_disk_storage }}"
    }
    network_adapters {
        model = "{{ packer_proxmox_vm_network_model }}"
        bridge = "{{ packer_proxmox_vm_network_bridge }}"
        vlan_tag = "{{ packer_proxmox_vm_network_vlan }}"
        firewall = "false"
    } 

    # VM Cloud-Init Settings
    cloud_init = true
    cloud_init_storage_pool = "{{ packer_proxmox_vm_disk_storage }}"

    boot_command = ["<esc><wait>auto url=http://{{ '{{' }} .HTTPIP {{ '}}' }}:{{ '{{' }} .HTTPPort {{ '}}' }}/preseed.cfg<enter>"]
    boot = "c"
    boot_wait = "10s"
    http_directory = "http" 

    ssh_username = "{{ packer_proxmox_vm_user }}"
    #ssh_private_key_file = "{{ lookup('env', 'HOME') }}/.ssh/vms" 
    ssh_password = "changeme"
    ssh_timeout = "30m"
}

# Build Definition to create the VM Template
build {

    name = "debian"
    sources = ["source.proxmox-iso.debian"]

    provisioner "ansible" {
        playbook_file = "files/provision-image-debian.yml"
        ansible_env_vars = [
            "ANSIBLE_SSH_ARGS='-o IdentitiesOnly=yes'",
            "ANSIBLE_PIPELINING=True",
            "ANSIBLE_REMOTE_TEMP=/tmp",
        ]
    }
}
