#cloud-config
autoinstall:
version: 1
locale: en_US
keyboard:
  layout: se
ssh:
  install-server: true
  allow-pw: true
  ssh_pwauth: true
  disable_root: false
  allow_public_ssh_keys: true
packages:
  - qemu-guest-agent
  - sudo
storage:
  layout:
  name: direct
  swap:
  size: 0
user-data:
  package_upgrade: false
  timezone: Europe/Stockholm
  lock-passwd: false
chpasswd:
  list: |
    root:changeme
  expire: False