#cloud-config
autoinstall:
  version: 1
  locale: en_US
  keyboard:
    layout: se
  user-data:
    disable_root: false
  ssh:
    install-server: true
    allow-pw: true
    allow_public_ssh_keys: true
    disable_root: false
  storage:
    layout:
      name: direct
    swap: 0
  user-data:
    package_upgrade: false
    timezone: Europe/Stockholm
    users:
      - user: packer
        password: $6$LOCrzJFxBtDEzcq5$hoNQiancUnsmNe9H0dzP3U6cE.8juWTMWu2wXfgZ3rHf9bW2dIDeylqAfm7fqzf4fNYQ5bR3abyjdC2Ztg2.i.
        ssh_authorized_keys:
            - {{ lookup('file', '~/.ssh/lab.pub') }}
        groups: sudo
        shell: /bin/bash
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock-passwd: false
  packages:
    - openssh-server
    - sudo
